@import "./alternative-nav";

// $navbar-background-color: $white !default
// $navbar-box-shadow-size: 0 2px 0 0 !default
// $navbar-box-shadow-color: $background !default
$navbar-height: 8rem !default
// $navbar-padding-vertical: 1rem !default
// $navbar-padding-horizontal: 2rem !default
// $navbar-z: 30 !default
// $navbar-fixed-z: 30 !default

$navbar-item-color: $grey-dark !default
$navbar-item-hover-color: $primary !default
$navbar-item-hover-background-color: $white-bis !default
$navbar-item-active-color: $primary !default
$navbar-item-active-background-color: transparent !default
// $navbar-item-img-max-height: 1.75rem !default

$navbar-burger-color: $navbar-item-color !default

$navbar-tab-hover-background-color: transparent !default
$navbar-tab-hover-border-bottom-color: $link !default
$navbar-tab-active-color: $link !default
$navbar-tab-active-background-color: transparent !default
$navbar-tab-active-border-bottom-color: $link !default
$navbar-tab-active-border-bottom-style: solid !default
$navbar-tab-active-border-bottom-width: 3px !default

$navbar-dropdown-background-color: $white !default
$navbar-dropdown-border-top: 2px solid $border !default
$navbar-dropdown-offset: -4px !default
$navbar-dropdown-arrow: $grey-dark !default