.ls-item-contact {
  margin  : - rem(10) 0 rem(20) !important;
  padding : 0 !important;
  border  : none !important;

  .media-left {
    margin-right : rem(10);
  }

  a {
    transition : color 0.2s $transition-function;
    color      : $grey;

    &:active, &:hover {
      color : darken($grey, 20)
    }
  }
}